:root {
    --gray: rgba(45,45,45, 0.7);
    --green: #00A36C;
    --green-hover: rgba(0, 163, 108, 0.5);
    --pearl: #E2DFD2;
    --red: 	#880808;
    --red-hover: rgba(136, 8, 8, 0.5);
    --yellow: #d6c809;
    --yellow-hover: rgba(214, 200, 9, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, var(--gray), var(--pearl));
}

 .container {
    display: flex;
    align-items: center;
    justify-content: center;   
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items:center;
    height: 100vh;
}

#table {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;   
    align-items: center;
    background: var(--gray);
    border: 0.063em solid 0.625em;
    border-radius: 1.563em;
    box-shadow: 0.063em 0.063em;
    width: 30vw;
    height: 30vw;
}

#tela {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 0 2rem 0;
    padding: 0 0.5rem 0 0;
    border-radius: 0.688rem;
    text-align: right;
    font-size: 1.875rem;
}


button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    height: 6vh;
    width: 5vw;
    font-size: 1.250rem;
    padding: 0.250rem;
    margin: 0.25rem;
    font-weight: 600;
    background: var(--green);
    cursor: pointer;
}

button:hover {
    background: var(--green-hover);
    transition: 0.5s;
}

#C {
    background: var(--yellow);
    color: var(--pearl);
}

#C:hover {
    background: var(--yellow-hover);
    color: var(--pearl);
}

#resultado {
    background: var(--red);
    color: var(--pearl);
}

#resultado:hover {
    background: var(--red-hover);
}
 @media all and (max-width: 71.875em){

    #table { 
        height: 50vh;
        width: 63vw;
    }

    #tela {
        font-size: 1.6rem;
        margin: 1.250rem 0 0.9rem 0;  
    }
    
    button {
        height: 5vh;
        width: 12vw;
        font-size: 0.9rem;
    } 
} 
